html {
   background-color:#daa520;
}


h1 {
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
}

li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif; /* this should be the rest of the output you got from Google fonts */
}
p {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif; /* this should be the rest of the output you got from Google fonts */
  text-align: left;
  text-transform: capitalize;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #fffacd;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}


h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 800px;
}

#fig1 {
margin: 20px auto;
width : 800px;
border : 3px solid black;
}
#fig2 {
margin: 20px auto;
display:flex;
justify-content: center;
border : 3px solid black;
}
#fig3 {
margin: 20px auto;
width : 800px;
border : 3px solid black;
}

